In [2]:
import pandas as pd
import sqlite3

In [1]:
stpo_path = "/home/pjtl2w01admin/csm/graphDB_pjt/data/STPO_summarized.xlsx"
mast_path = "/home/pjtl2w01admin/csm/graphDB_pjt/data/MAST_summarized.xlsx"
eina_path = "/home/pjtl2w01admin/csm/graphDB_pjt/data/EINA_mock_data.csv"

In [3]:
conn = sqlite3.connect("ontology_test.db")

In [11]:
db_path = "ontology_test.db"

In [5]:
stpo_df = pd.read_excel(stpo_path, dtype={"STLNR" : str})
mast_df = pd.read_excel(mast_path, dtype={"STLNR" : str})
eina_df = pd.read_csv(eina_path)

In [9]:
eina_df.head()

     IDNRK                               LIFNR    ORT01
0   ZROH33                       Sold To 06_22  경기도 성남시
1   ZROH34  Gurgaon Warehouse ( 3T Logistics )  인도 구르가온
2   ZROH31                            미래에셋생명보험    서울특별시
3   ZROH24       Hyundai Motor Ulsan 2Nd Plant    울산광역시
4  ZHALB12  Sri Jayalakshmi Industries-Chennai  Chennai

In [10]:
def save_df_to_sqlite(db_path: str, df: pd.DataFrame, table_name: str):
    with sqlite3.connect(db_path) as conn:
        df.to_sql(table_name, conn, if_exists="replace", index=False)
        print(f"{table_name} 테이블 저장 완료 : {len(df)} rows")

In [12]:
save_df_to_sqlite(db_path, stpo_df, "stpo")
save_df_to_sqlite(db_path, mast_df, "mast")
save_df_to_sqlite(db_path, eina_df, "eina")

stpo 테이블 저장 완료 : 13438 rows
mast 테이블 저장 완료 : 2767 rows
eina 테이블 저장 완료 : 5124 rows